body {
  background-color: red;
}
.topo {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 65px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.iconeTopo {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  margin-top: 20px;
}
